<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.kag.tlhInganbommey"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>tlhIngan bommey</name>

    <description>
        tlhIngan bommey mu'mey
    </description>

    <author href="http://www.kag.org/" email="qurgh@kag.org">
        Chris Lipscombe 
    </author>

</widget>
